.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.results__item {
    border: 1px solid var(--tg-theme-text-color);
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.results__item svg {
    width: 20px;
    height: 20px;
}

.results__item svg path {
    fill: var(--tg-theme-text-color);
}

.wrapper {
    display: flex;
    justify-content: center;
}

canvas {
    border: 1px solid var(--tg-theme-text-color);
    max-width: 100%;
    height: 75vh;
    aspect-ratio: 1 / 2;
    border-radius: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

