html, body {
    height: 100%;
    font-family: monospace, monospace;
}

body {
    background: var(--tg-theme-bg-color);
    line-height: normal;
    color: var(--tg-theme-text-color);
    max-height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 10px;
}